/* basic */
body{ background-color:#fff; margin:0 auto; text-align:center; }
h1,h2,h3,h4,h5,h6,ul,p,dl,dt,dd,form,i{ margin:0px; padding:0px; font-weight:normal; }
ul{ list-style:none; overflow:hidden; }
a{ color:#00a0e9; text-decoration:none; text-decoration:none; }

.clear{ *zoom:1; }
.clear:after{ clear:both; content:""; display:table; }
img{max-width: 100%;border:none;display:block;}


.dot {
    width: 5px;
    height: 5px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    background: #cbcbcb;  /*Firefox*/
   	margin-right:5px;
   	vertical-align: middle;
}


.index_top_bg img{width: 100%;}
.index_head{position:absolute;top:2%;left:5%;text-align: left;color: #FFF;width:100%;}
.index_head img{border-radius:78.5px 78.5px 78.5px 78.5px;border:3px;border-color:rgba(255,255,255,0.6);border-style: solid;width: 20%;}
.index_head .index_name{width: 20%;text-align: center;}
.company_info{background: #fff;}
.company_info ul{line-height: 26px;padding:5px;}
.company_info ul li{width: 50%;float:left;text-align: left;font-family:"微软雅黑";}
.company_info ul li span{background: url(../images/company.png) no-repeat 5px center ;background-size: 17px 17px;padding-left:26px;font-size:16px;}
.company_info ul .num{color:#666;padding-left: 25px;font-size: 14px;}
.company_used{}
.company_used ul{padding-top:20px;padding-bottom:20px;}
.company_used ul li{width:32%;float: left;text-align: center;}
.company_used ul li a{display: block;width:100%;font-size:0.7em;color:#000;}
.company_used ul li img{width: 70%;margin: 5px 15%;}
.company_used ul li a p{width:100%;text-align: center;}
.company_notice{padding-left:20px;}
.company_notice .notice_title{background: url(../images/msg.png) no-repeat left center;background-size:16px 15px;padding-left:22px;font-family:"微软雅黑";font-size:16px;text-align: left;}
.company_notice ul{}
.company_notice ul li{font-size:14px; color:#666;text-align: left;padding-left:12px;padding-top:2px;padding:bottom:2px;height:30px;line-height: 30px;}
.notice_count{border-radius:78.5px 78.5px 78.5px 78.5px;padding:5px;display: inline-block;background: red;color:#fff;margin-left:3px;font-size:12px;position: absolute;line-height:10px;widht:20px;font-weight:bold;}
.back{background: url(../images/back.png) no-repeat left center;background-size: 12px 21px;width:60px;height: 100%;}
.shenei_news{background: url(../images/news_s.png) no-repeat left center;background-size:20px 20px;width:25px;height: 26px;display: block;}
.shenei_notice{background: url(../images/notice_s.png) no-repeat left center;background-size:20px 20px;width:25px;height: 26px;display: block;}
.shenei_message{background: url(../images/message_s.png) no-repeat left center;background-size:20px 20px;width:25px;height: 26px;display: block;}
.notice_next{background: url(../images/next.png) no-repeat right center;background-size:6px 11px;right:15px;}

.cell-name {    
  height: 25px;
  line-height:25px;    
  text-align: left;
}
.cell-image{
	width:25px;
	max-width: 25px;
}